<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3><a href="https://docs.google.com/document/d/1o85_ww9_6116SCU3i3HTh_DpY3WK3c6PlAz_lEyZprk/edit" target="_blank" >GUÍA DEL TALLER1</a></h3>
<!--<h3><a href="https://docs.google.com/document/d/1ENr4wM1Jyo8euhHXxeh0bV99LbTQjkq9/edit?usp=sharing&ouid=116265153267201424208&rtpof=true&sd=true" >GUÍA DE LA CONFIGURACIÓN DE CRASHTEST (HEROKU)</a></h3>-->
<img th:src="@{/img/devsecops.png}" alt="devesecopsnotfound logo"/>
</body>
</html>
