<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Bienvenido, ' + ${name} + '!'" />
<br>
<h2>Se siguieron los pasos sugeridos en el taller Nro1</h2>
<p>A continuación presentamos los pantallazos con los errores encontrados y su solución.</p>
<hr>
<img style="width:40%" th:src="@{/img/token1.png}" alt="token1notfound logo"/>
<br>
<img style="width:40%" th:src="@{/img/token2.png}" alt="token2notfound logo"/>
<br>
<img style="width:40%" th:src="@{/img/permission_mvnw.png}" alt="permission_mvnwnotfound logo"/>
<br>
<img style="width:40%" th:src="@{/img/permission_suc.png}" alt="permission_sucnotfound logo"/>
<br>
<img style="width:40%" th:src="@{/img/token_sucessfully.png}" alt="token_sucessfullynotfound logo"/>
<h4>Token Github</h4>
<p>travis login --github-token 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 <strong>-–pro</strong></p>
<h4>Token SonarCloud</h4>
<p>travis encrypt 2ad546d5c2c3132b0d7867a00368ed0207f75229 <strong>-–pro</strong></p>
<h4>Token Secure travis</h4>
<pre>ZEP7csVoZcHkZGlBpDMakccZqSKRX6Ue0pJBPABdMULJ1o9PusMWI6FllmRQ4sjypTgdtdxZ9KdJVYKD1xJez+Fpv5/vm8FVptHhF3+ZchhaWgS0m+JLf318oAvrYZSQ1dsKqQOoGECPkeCxfZfv+A4I/MiMHMGFMqWS/FjS5770MAxdPR2iGHw9MWkfhxanAMAB+3w2PL6h7aum/a3woZZe31jWK6EISdsX7StPPi87Rn5hodLdPoqpic678At0kTMwENRlwwhq7SiB8GgHe9A0rX7NElzz9YYlL5TQHasy2qb891Dvg2ISHYOTs23wlQ5A4qK6LorNP8wQuBLRMFZDXeQHCI063CEFtpFSfWLdxoXNMb9Wn8ibDWKOvuzaoTI5qfMZ8kXr+qpgnnGHX44NIjRMJkm5VDiWytrcE/4LBtAAW/+Y8elmDN/Dpc93ZxFs1ez/W5i0Q7lL0YF/5Ur6gUWeNvyl4/SyHOOMylFZx8E+hQoEqOB8KYG9A88OpxmCbi+fnxFUDNexPHHPi2FhMUO5aRde4TVErlVwRqvw/Mt/BihFWFfS49M7WqsMFetwUcuYobOMxKRd0PRBWU76j3ge/HZZjf+proeUSrvv/qz9EGwcV3VPQ8hc3KdUsXwh7jwU7P+BZK9W5WYO1NGfjh6JZJhrBIg+K5pbbQk=</pre>
<br>
<img style="width:40%" th:src="@{/img/analysis_sonarcloud.png}" alt="analysis_sonarcloudnotfound logo"/>
</body>
</html>